*.c                 text eol=lf
*.cpp               text eol=lf
*.css               text eol=lf
*.go                text eol=lf
*.h                 text eol=lf
*.hpp               text eol=lf
*.html              text eol=lf
*.md                text eol=lf
*.scm               text eol=lf
*.txt               text eol=lf
.gitattributes      text eol=lf
.gitignore          text eol=lf
BUILDING            text eol=lf
CHANGES             text eol=lf
COPYING             text eol=lf
building            text eol=lf
changes             text eol=lf
copying             text eol=lf
go.mod              text eol=lf
go.sum              text eol=lf
makefile            text eol=lf
